*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Fredoka", sans-serif;
}

#container{
    width: 85%;
    margin: 25px auto;
}

/* titolo + descrizione */

header{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    color: red;
    margin-bottom: 40px;
}

/*cards*/
.card{
    height: 90px;
    width: calc(100% / 3 - 70px);
    margin: 20px 35px;
    float: left;
}

.contenuto{
    height: 100%;
    line-height: 23px;
    background-color: rgb(15, 14, 23);
    box-shadow: 2px 2px 2px #333333;
}

/*gestione elementi delle cards*/

.contenuto img{
    height: 100%;
    float: left;
}

.dati-dipendente{
    float: left;
    padding: 10px 20px;
    color: white;
}

.ruolo{
    display: block;
}

.email{
    color: rgb(93, 189, 253);
    text-decoration: none;
}