*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Fredoka", sans-serif;
}

#container{
    width: 90%;
    margin: 25px auto;
}

/* titolo + descrizione */

header{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    color: red;
    margin-bottom: 40px;
}

/* cards del team */
.card-container::after{
    content: "";
    display: table;
    clear: both;
}

.card{
    height: 90px;
    width: calc((100% / 3) - 100px);
    margin: 20px 50px;
    line-height: 23px;
    float: left;
    background-color: rgb(15, 14, 23);
}

.contenuto{
    height: 100%;
    width: 100%;
    float: left;
    box-shadow: 2px 2px 2px #333333;
}


.contenuto img{
    height: 100%;
    float: left;
}

.dati-dipendente{
    float: left;
    margin: 10px 20px;
    color: white;
}

.email{
    color: rgb(93, 189, 253);
    cursor: pointer;
}


